       <style>
.flickr_widget .flickr_badge_image{float:left}
.posts-title h2 a:before{margin-right:10px}
.comments-tabs-header h3{float:left}
.comments-tabs-header h3:before{margin-right:10px}
.comments-tabs.simpleTab .tab-wrapper{float:right}
.comments-tabs.simpleTab .tab-wrapper li{margin-right:5px}
.pagenavi a,.pagenavi span{margin-right:5px}
.authorDetails h2{float:left}
.authorDetails .AuthorPostsCount{float:right}
.ticker .title .fa{transform:rotate(-30deg);-moz-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);-ms-transform:rotate(-30deg);-o-transform:rotate(-30deg)}
.owl-next:before{content:&#39;\f054&#39;;font-family:fontawesome}
.owl-prev:before{content:&#39;\f053&#39;;font-family:fontawesome}
blockquote{border-left:5px solid #ccc;margin-left:0;padding-left:15px}
blockquote:before{content:&#39;\f10d&#39;;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-right:10px;color:#999}
blockquote:after{content:&#39;\f10e&#39;;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-left:10px;color:#999}
#main-wrapper{float:left;border-right:1px solid #eee}
#main-wrapper #main{margin-right:2.85%}
#sidebar-wrapper{float:right;padding-left:2%;border-left:1px solid #EEE;left:-1px}
.menu li a:before{margin-left:10px}
.menu ul li{float:left}
.menu ul li a{border-right:1px solid rgba(255,255,255,0.1)}
.menu ul li ul a:hover{padding-left:30px}
.menu ul li ul a:before{content:&#39;\f054&#39;;margin-right:5px}
.home-icon{left:0;border-right:1px solid rgba(255,255,255,0.3)}
.menu ul{margin-left:65px}
.hasSub a:after{right:8px}
.menu ul .hasSub a{padding-right:30px}
.menu ul li ul{margin-left:0}
.menu-top{float:left}
.menu-top #nav{margin-left:0}
.menu-top li{margin-right:10px}
.menu-top li a:after{margin-left:10px}
#header-search{float:right}
#header-search .searchbox{left:0;padding-left:15px}
.social-sec{float:right}
.social-sec li{float:left;margin-left:3px}
.ticker .title{float:left}
.ticker .title .fa{margin-right:10px}
.ticker .layout-content li{float:left;margin-left:30px}
.ticker .post-tag{margin-right:10px}
.post-widget .rcp-thumb{float:left;margin-right:10px}
.post-widget .post-panel{margin-left:70px}
.more-link{float:right;margin-right:7px}
.more-link:after{content:&#39;\f054&#39;;margin-left:5px}
.box-title{border-radius:2px 2px 0 0}
.box-title h2{padding:10px 20px 5px 10px;border-radius:2px 2px 0 0}
.box-title h2 a:before{margin-right:10px}
.recent-date:before{margin-right:10px}
.recent-author:before{margin-right:10px}
.recent-author{margin-left:10px}
.intro-loader{left:0}
.intro .rcp-thumb:after{left:0}
.intro li{float:right}
.intro li:first-child{float:left}
.intro .post-panel{left:20px}
.intro .post-tag{left:15px}
.recent-layout .widget{margin-right:2.85%}
.fbig ul li .recent-content{padding-left:15px}
.fbig1 .first-content{padding-left:20px}
.fbig1 ul li{float:left;margin-right:2%}
.fbig1 ul li:nth-child(3),.fbig1 ul li:nth-child(5){margin-right:0;margin-left:2%}
.fbig2 .first{float:left;border-right:1px solid #EEE;padding-right:2%}
.fbig2 ul li{float:right}
.list ul li{margin-right:2%;float:left}
.list ul li:nth-child(2),.list ul li:nth-child(4),.list ul li:nth-child(6){margin-right:0;margin-left:2%}
.recent-block ul li{float:left;margin-right:.33%}
.gallery .recent-content{left:10px}
.videos ul li:nth-child(1),.videos ul li:nth-child(2),.videos ul li:nth-child(4),.videos ul li:nth-child(5){margin-right:2%}
.videos ul li{margin-right:0}
.owl-carousel .owl-item{float:left}
.owl-prev,.owl-next{margin-right:5px}
.box-title .owl-controls{float:right}
.carousel .recent-content{left:5%}
.carousel .recent-thumb:before{left:0}
.slider .owl-controls{left:10px}
.postags{left:5px}
#related-posts .owl-controls{left:10px}
#related-posts .owl-carousel .owl-wrapper-outer{margin-left:2px}
.rnav li{padding:0 5px 0 1px;float:left}
.rnav li .rnav-conent{left:5%}
.sharepost li{float:left;margin-right:1.2%}
.sharepost li:last-child{margin-right:0}
.sharepost li .fa:before{margin-right:5px}
.posts-title{border-radius:2px 2px 0 0;margin-right:2.85%}
.posts-title h2{padding:10px 20px 5px 10px;border-radius:2px 2px 0 0}
.posts-link{float:right;margin-right:9px}
.posts-link:after{content:&#39;\f054&#39;;margin-left:5px}
.post-share{left:185px}
.post-share:before{left:-2%;border-width:0 1px 1px 0}
.post-sharebtn{float:left}
.post-readmore{float:left}
.fa-twitter:before{margin-right:5px}
.fa-facebook:before{margin-right:5px}
.fa-google-plus:before{margin-right:5px}
.fa-long-arrow-right:before{margin-left:10px}
.fa-angle-right:before{content:&#39;\f105&#39;}
.item .post-heading{-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0}
.index article{padding:0 0 0 20px}
.post-timestamp{margin-left:5px}
.post-labels{margin-left:5px}
.post-pager .previous{float:left}
.post-pager .next{text-align:right}
.tagstitle{float:left;margin:0 10px 0 0}
.authorLeft{float:left;margin-right:20px}
.authorContent .authorSocial{float:right}
.authorSocial{text-align:left}
.authorSocial a{margin-left:5px}
.comments .comment-block{margin-left:0}
.comments .comments-content .datetime{margin-left:0}
.comments .avatar-image-container{float:left;margin-right:15px}
.comments .comment .comment-actions a{float:right;margin-left:5px}
.PopularPosts .item-thumbnail{float:left;margin:0 8px 0 0}
.sidebar .LinkList li:before,.footer .LinkList li:before,.sidebar .PageList li:before,.footer .PageList li:before{content:&#39;\f101&#39;margin-left:5px}
.FollowByEmail td{float:left}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit{margin-left:0}
.FollowByEmail .follow-by-email-inner .follow-by-email-address{padding-left:10px}
.list-label-widget-content ul li:after{left:0}
.list-label-widget-content ul li a:before{margin-right:10px;content:&#39;\f105&#39;}
.cloud-label-widget-content span{float:left;margin:0 4px 5px 0}
.commentswidget li .avatarImage{float:left;margin:0 10px 0 0}
.menu-tab li{float:left}
#sidebar-wrapper .widget h2{padding-right:15px}
.footer-column h2{padding-right:15px}
#footer-wrapper .footer-column{float:left}
#footer-wrapper #column1,#footer-wrapper #column2{margin-right:1.6666667%}
.menu-bottom{float:left}
.menu-bottom li{float:left;margin-right:4px}
.menu-bottom ul{margin-left:0}
.contact-button{float:right}
.contact-close{right:-12px}
.contact-button a .fa{margin-right:5px}
.copy-right{float:right}
.copy-left{float:left}
.social-counter ul li{float:left}
.item-icon{margin-right:5px}
.social-item .item-icon:after{left:50%;margin-left:-5px}
.button{float:left}
pre .line-number{float:left;margin:0 1em 0 -1em;border-right:2px solid #3E5770;text-align:right}
pre .line-number span{padding:0 .5em 0 1em}
#contact .contact-form-name{margin-right:12px}
.two-column .column{float:left}
.two-column .column:first-child{border-right:1px solid #DDD}
.alert-message i{float:left;margin-right:5px}
.simpleTab.side .tab-wrapper{float:left}
.simpleTab.side .tab-content{float:left}
.maplabel h2 .butoo{float:right}
.map-date{float:left}
.mpost .rcp-title{margin-left:30px;float:left}
@media screen and (max-width: 1050px) {
.search-icon{right:0}
}
@media screen and (max-width: 1000px) {
#main-wrapper{border-right:0}
#sidebar-wrapper{border-left:0;padding-left:0;left:0}
.recent-layout .widget{margin-right:0}
#footer-wrapper #column1,#footer-wrapper #column2{margin-right:0}
.menu-top li a:after{margin-left:5px}
}
@media screen and (max-width: 950px) {
.intro li:first-child{float:left}
.intro li{float:left}
}
@media screen and (max-width: 940px) {
.menu .selectnav{margin-left:65px}
}
@media screen and (max-width: 700px) {
.fbig2 .first{padding-right:0;border-right:0}
.fbig1 .first-content{padding-left:0}
.index article{padding-left:0}
.videos ul li{float:left}
}
       </style>
